* {
    font-family: 'roboto';
}

.background-image {
    background-image: url(pizza\ 6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.holder1{
    height: 50em;
}

header {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    height: 120px;
}

li,a,button {
    font-family: 'roboto';
    font-weight: 500;
    font-size: 16px;
    color: yellow;
    text-decoration: none;
}

.holder1 h3 {
    color: #fff;
    padding-top: 10rem;
    padding-left: 6rem;
    line-height: 2rem;
}

.ord button {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

li {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 50px;
    display: flex;
    float: right;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.orange-background{
    margin-left: 100px;
}
.services{
    text-align: center;
    background-color: #edf5f1;
}

.melonie{
    display: flex;
    background-color: #edf5f1;
    height: 45rem;
    position: relative;
    margin-top: auto;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20%;
}
.quality-item{
    width: 30%;
    /* border: 1px solid purple; */
    /* border-radius: 10px; */
    height: 40%;
    text-align: center;
    align-items: center;
    padding-top: 5%;
}

.middle{
    height: 50%;
}

.quality-image{
    height: 15rem;
    width: 10rem;
}


.menuq{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 45rem;
    position: relative;
    margin-top: 7.9rem;
    margin-bottom: 33%;
    align-items: center;
    justify-content: space-around;
}

.mtitle{
    text-align: center;
}

.menu-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-item{
    width: 30%;
    border-radius: 20px;
    height: 50%;
    text-align: center;
    align-items: center;
    padding-top: 5%;
    margin-bottom: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.menu-image{
    height: 10rem;
}

.bt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.head1{
    background: linear-gradient(120deg, #fff 50%, #F6B400 50%); 
    height: 45rem;
}

.owlx{
    background-color: #edf5f1;
    height: 35rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.owl-image > img{
    height: 80%;
}

.owl-title{
    font-size: 2rem;
}

.owl-s{
    color: #F6B400;
    margin-top: auto;
}

.dot {
    margin-top: 45%;
    height: 15px;
    width: 15px;
    background-color: #F6B400;
    border-radius: 50%;
    display: inline-block;
  }

  .ply{
    display: flex;
    flex-direction: row;
    background-color: #F6B400;
    height: 45rem;
    position: relative;
    margin-top: auto;
    align-items: center;
    justify-content: space-around;
}

.large{
    font-size: 3rem;
    font-weight: bold;
}

.left-play{
    padding-left: 20%;
}

.apps{
    width: 24rem;
}

.mobile-app{
    height: 35rem;
}

.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #edf5f1;
    padding-top: 5%;
}

.subscriber{
    width: 45%;
}

.ssb{
    display: flex;
    margin-top: 1rem;
}

.input-sub{
    height: 2.2rem;
    font-weight: bold;
}

.input-suffix {
    padding: 6px 12px;
    font-weight: bold;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #F6B400;
    border: 1px solid #F6B400;
    width: 30%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.footer-bottom{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.cart{
    padding:2%;
    background-color: #E1EBE6;
}
#order-pizza {
    padding: 20px 50px 20px 50px;
    font-family:  cursive;
    /* text-align: center; */
    /* display: block; */
    /* margin: auto; */
    /* background-color: rgba(0, 0, 0, 0.6); */
    /* height: 50%;  */
    /* width: 60%; */
    /* border-radius: 5%; */
    /* font-size: larger; */
    /* padding:3%; */
    /* font-weight: 700; */

}

.order-overlay {
    /* height: inherit; */
    /* padding: 20px; */
    /* background-color: rgba(0, 0, 0, 0.9); */
    /* border-radius: 20px; */
    text-align: center;
    display: block;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    height: 50%; 
    width: 60%;
    border-radius: 5%;
    font-size: larger;
    padding:3%;
    font-weight: 700;
}

.checkout {
    border-radius: 20px;
    margin-top: 20px;
}